<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMessageService">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IUserService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Messages" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMessageService" contract="PiperChat.IMessageService"
                name="WSDualHttpBinding_IMessageService" />
            <endpoint address="http://localhost:8080/User" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IUserService" contract="PiperChat.IUserService"
                name="WSDualHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>